@font-face {
  font-family: "Major";
  src: url("fonts/MajorMonoDisplay-Regular.ttf") format("truetype");
}

.home_title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Major";
  font-size: 4em;
}
.home_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
main {
  height: 90vh;
}
.home_button {
  height: 33%;
  margin: auto;
  width: 33%;
  border-radius: 5px;
  font-family: "Major";
  font-size: 2.7em;
}